<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="cat" class="org.example.pojo.Cat"/>
    <bean id="dog" class="org.example.pojo.Dog"/>
    <bean id="student" class="org.example.pojo.People"/>

</beans>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
        <!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
        <!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

        <!--    <bean id="cat" class="org.example.pojo.Cat"/>-->
        <!--    <bean id="dog" class="org.example.pojo.Dog"/>-->
        <!--&lt;!&ndash;    <bean id="people" class="org.example.pojo.People">&ndash;&gt;-->
        <!--&lt;!&ndash;        <property name="name" value="zk"/>&ndash;&gt;-->
        <!--&lt;!&ndash;        <property name="cat" ref="cat"/>&ndash;&gt;-->
        <!--&lt;!&ndash;        <property name="dog" ref="dog"/>&ndash;&gt;-->
        <!--&lt;!&ndash;    </bean>&ndash;&gt;-->

        <!--    <bean id="people" class="org.example.pojo.People" autowire="byType">-->
        <!--        <property name="name" value="zk"/>-->
        <!--    </bean>-->

        <!--</beans>-->